{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block head %}
{{ super() }}
  <title>BWAVE</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="index.css">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
      <a class="navbar-brand" href="#">BWAVE</a>
        <div class="container">
            <div class="navbar_header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle Navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<body background="/static/cool-background.png" style="background-size:cover;background-repeat: no-repeat;background-size: 100% 200%;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h1 style="text-align: center;">BWAVE</h1>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <form method=POST action="{{ url_for('index') }}">
                <div class="form-group">
                    <label for="exampleSearch">Search</label>
                    <input type="search" class="form-control" name="pass" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-primary btn-block">Search</button>
            </form>
            <br>
        </div>
    </div>
</div>
</body>
{% endblock %}
